@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

.all_courses{
    background: #D9D9D9;
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}

.all_courses h1{
    margin-bottom: 12px;
    font-size: 56px;
    margin-left: 79px;
    font-weight: 700;
    color: var(--primary_color);
}

.all_courses input{
    margin-right: 119px;
    background: #ffffff;
    width: 421px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 12px;
    height: 52px;
    padding-left: 59px;
    border-color: #333333;
    border-style:solid;
    color: #333333;
    border-width: 1px;
}