div {

    background-color: #1a202c;
    padding: 133px;
    margin: -10px;
    margin-top: -70px;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;


}