.first{
    display: flex;
    font-family: Poppins;
    justify-content: space-between; /* Distribute space between child elements */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.first1{
    display: block;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.boxes{
    display: block;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    width: 36.875%; /* Ensure this is consistent with your design */
} 

iframe{
    width: 100%;
    margin: 0;
}

.boxH{
    font-weight: 500;
    font-size: 20px; /* Specify unit */
    text-align: center;
    padding: 18.02px 186px 12.72px 187px;
    background-color: #2D3648;
    color: white;
}

.farah {
    font-family: Arial, sans-serif;
    width: 100%; /* Ensure this is consistent with your design */
    justify-content: left; /* Align to the left */
    align-items: left; /* Center vertically */
}

.course-outline {
    border: 1px solid #ddd; 
    margin-top: 13px;
}

details {
    border-bottom: 1px solid #ddd;
}

summary {
    padding: 15px;  
    cursor: pointer;
    background-color: #f5f5f5;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::marker {
    content: ''; 
}

summary::before {
    content: '▼';  
    display: inline-block;
    margin-right: 10px;
    color: grey;
}

details[open] summary::before {
    content: '▼';  
}

.lecture-info {
    font-weight: normal;
    font-size: 0.9em;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul ul {
    padding-left: 20px;
}

li {
    padding: 5px 15px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.lecture-title {
    flex: 1;
}

.lecture-time {
    flex: 0;
}

.About{
    margin: 30px 0px 21.5px 27.5px ;
    font-family: Poppins;
}

.p1{
    font-weight: 500;
    font-size: 18px; /* Specify unit */
    margin-bottom: 7px;
}

.p2{
    font-weight: light;
    font-size: 14px; /* Specify unit */
    margin-top: 7px;
    max-width: 100%; /* Ensure this is consistent with your design */
}

.last{
    display: flex;
    justify-content: space-between; /* Distribute space between child elements */
}

.b1{
    margin: 18.5px 0px 174px 28px;
    font-weight: 500;
    font-size: 16px; /* Specify unit */
}

.b2{
    max-width: 13.48611111111111%;
    margin: 18.5px 117px 84px;
    line-height: 1.8;
    font-size: 16px; /* Specify unit */
    font-weight: light;
}

.b3{
    max-width: 11.25%;
    line-height: 1.8;
    font-size: 16px; /* Specify unit */
    font-weight: light;
    margin: 18.5px 194px 144px 0px;
}
